/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap");
.ff_Red_Hat_Display {
  font-family: "Red Hat Display", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    78deg,
    #a876da 10.53%,
    #857de3 30.94%,
    #6374e0 60.55%
  );
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s linear;
}
.dropdown-content {
  display: none;
  top: 30px;
  right: 0;
  transform: translateX(50%);
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content p {
  transition: all 0.3s linear;
}
.dropdown-content p:hover {
  background: linear-gradient(
    78deg,
    #a876da 10.53%,
    #857de3 30.94%,
    #6374e0 60.55%
  );
  color: white;
}
